extends ../layouts/default

block content
    .container
        if user && user.canAccessKeystone
            p: a(href='/keystone').btn.btn-lg.btn-primary Open Admin
        else
            p: a(href='/keystone/signin').btn.btn-lg.btn-primary Open Admin

        if user
            p
                h2 Late Due Payments
                p
                each group in missingPayments
                    if group.length
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title #{moment(group[0].forDate).format("MMM YYYY")}
                            .list-group
                                each item in group
                                    li.list-group-item
                                        span.label.label-danger LATE
                                        | &nbsp;&nbsp; Payment needed from &nbsp;
                                        a(href='/keystone/customers/' + item.parkingSpot.customer._id, target='_blank') #{item.parkingSpot.customer.nameAndCompany}
                                        | &nbsp; for parking number: &nbsp;
                                        a(href='/keystone/parking-spots/' + item.parkingSpot._id, target='_blank') #{item.parkingSpot.parkingNumber}
